<%- include("partials/Header"); -%>

<h1>Compose</h1><br>
<form method="POST" action="">
    <label>Title</label><br>
    <input class="compose-text" type="text" name="postTitle"><br><Br>
    <label>Post</label><br>
    <textarea class="compose-text" rows="5" cols="100" style="resize: none;" name="postBody"></textarea><br><br>
    <button class="publish-btn" type="submit" name="pbtn">Publish</button>  
</form>

<%- include("partials/Footer"); -%>